


nav {
  flex-grow: 1; /* Ensure nav takes up remaining space */
  display: flex;
  justify-content: center; /* Center-align links */
}

nav a {
  text-decoration: none;
  color: white;
  padding: 10px;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

.search-input_Menu {
  margin-left: auto;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.user-info {
  margin-left: 10px;
  color: black;
}